@import url(https://db.onlinewebfonts.com/c/9027abcf80a0095c71d4ebc4aa4de4b1?family=Century+Gothic+W05+Regular);

.button {
    width: 500px;
    height: 150px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 45px;
    margin: auto;
    cursor: pointer;
    font-family: "Century Gothic W05 Regular", sans-serif;
    font-style: normal;
    border-radius: 10px;
    white-space: normal;
    word-wrap: break-word;
    line-height: .9;
    text-align: center;
    margin-bottom: 4px;
}

.button img {
    width: 144px;
    height: 144px;
    margin: 6px;
    margin-left: 3px;
    border-radius: 10px;

    /* Add space between the image and text */
}

.button span {
    margin-left: 5px;
    max-height: 150px;
    max-width: 334px;
}

.wrapper {
    text-align: center;
}

.edit_form {
    padding: 0px;
    color: white;
    background-color: darkslategray;
    font-size: 20px;
    font-family: "Century Gothic W05 Regular", sans-serif;
    border-radius: 10px;
    max-width: 350px;
    margin: auto;
    margin-top: 100px;
    transform: scale(2);
}

.edit_form p {
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.edit_form span {
    text-align: left;
    background-color: rgb(35, 59, 59);
    border-top-left-radius: 10px;
}

.edit_form input {
    height: 20px;
    display: block;
    transform-origin: bottom left;
    margin-left: 5px;
    margin-bottom: 5px;
}

.edit_form label {
    margin-left: 5px;
    float: left;
}

#buttonText {
    float: left;
}

#text_color {
    height: 26px;
}

#buttonColor {
    margin-top: 8px;
    height: 26px;
}

#imageUpload {
    max-width: 250px;
}

#submitButton {
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#link {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}