<!DOCTYPE html>
<html>

<head>
    <title><%- server_title %> Edit</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/favicon" type="image/x-icon">
</head>

<body style="background-color:#202020;">
    <h1 class="wrapper" style="color:rgb(176, 183, 201)"><%- server_title %></h1>
    <form id="create_button" class="edit_form">
        <p><span>&nbsp;Add Button&nbsp;</span></p>
        <input type="text" id="buttonText" name="text" placeholder="Button Text" required>
        <input type="color" id="text_color" name="textcolor" value="#FFFFFF" required>
        <label for="buttonColor">Button Color:&nbsp;</label>
        <input type="color" id="buttonColor" name="color" value="#2F4F4F" required>
        <label for="imageUpload">Image:&nbsp;</label>
        <input type="file" id="imageUpload" name="image" accept="image/*" required>
        <input type="url" id="link" name="link" placeholder="Destination URL" required>
        <input type="submit" id="submitButton" value="Create Button">
    </form>
    <br><br><br><br><br><br>
    <div id="preview_box">
        <h1 id="preview_text"><span id="prevTextSpan">New Button Preview:</span></h1>
        <div class="wrapper" id="button_container"></div>
    </div>
    <form id="server_title_form" class="edit_form">
        <p><span>&nbsp;Change Server Title&nbsp;</span></p>
        <input type="text" id="server_title_text" name="text" value="<%- server_title %>" placeholder="Title Text"
            required>
        <input type="submit" id="submit_button_change_title" value="Change Server Title">
    </form>
    <form id="delete_button" class="edit_form">
        <p><span>&nbsp;Delete a Button&nbsp;</span></p>
        <label for="delete_select"> Delete Button:&nbsp; </label>
        <select id="delete_select" name="button_delete"></select>
        <input type="submit" id="submit_button_delete" value="Delete Button">
    </form>
    <form id="upload_favicon" class="edit_form">
        <p><span>&nbsp;Upload a Favicon&nbsp;</span></p>
        <label for="favicon">Favicon:&nbsp;</label>
        <input type="file" id="favicon" name="favicon" accept=".ico" required>
        <input type="submit" id="submit_favicon" value="Upload Favicon">
    </form>
    <div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <script>
        // Make sure favicons are square images.
        document.getElementById('favicon').addEventListener('change', function (e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (event) {
                    const img = new Image();
                    img.src = event.target.result;
                    img.onload = function () {
                        if (img.width !== img.height) {
                            alert('Please upload a square image.');
                            e.target.value = ''; // Clear the input
                        }
                    };
                };
                reader.readAsDataURL(file);
            }
        });
        let image_preview = "/images/error9845619841589811.png";
        // Add in the buttons
        const buttons = <%- JSON.stringify(buttons) %>;
        const delete_select = document.getElementById("delete_select");
        // Add them all to the select so they can be deleted
        for (const button of buttons) {
            let render = `<option value="${button.text}">${button.text}</option>`;
            delete_select.innerHTML = delete_select.innerHTML + render;
        }


        function render_button() {
            // Get values from form
            button_text = document.getElementById("buttonText").value;
            button_color = document.getElementById("buttonColor").value;
            button_url = document.getElementById("link").value;
            font_color = document.getElementById("text_color").value;
            button_html = `
                <a class="button" href="${button_url}">
                    <div class="button" style="width:500px; height:150px; background-color:${button_color};">
                        <img src="${image_preview}" alt="Button Image" width="150px" height="150px">
                        <span style="color: ${font_color};">${button_text}</span>
                    </div>
                </a>
            `
            const buttonContainer = document.getElementById("button_container");
            buttonContainer.innerHTML = button_html;
        }
        render_button()

        // When an image is selected, update our image_preview so the button can show the selected pic. 
        document.getElementById("imageUpload").addEventListener('change', (event) => {
            let selected_file = event.target.files[0];
            if (selected_file) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    image_preview = e.target.result;
                    render_button();
                }
                reader.readAsDataURL(selected_file);
            } else {
                image_preview = "/images/error9845619841589811.png";
            }
            render_button();
        })
        // Render the button ever time something changes.
        document.getElementById("link").addEventListener("input", render_button);
        document.getElementById("buttonText").addEventListener("input", render_button);
        document.getElementById("text_color").addEventListener("input", render_button);
        document.getElementById("buttonColor").addEventListener("input", render_button);

        document.getElementById("upload_favicon").addEventListener("submit", function (event) {
            event.preventDefault();
            const form_data = new FormData(event.target);
            form_data.forEach((value, key) => {
                console.log(`${key}: ${value}`);
            })
            fetch("/upload-favicon", {
                method: "POST",
                body: form_data,
            }).then(response => {
                if (response.ok) {
                    window.alert("Favicon Changed!")
                    window.location.href = "/";
                } else {
                    window.alert("Something went wrong.");
                }
            })
        })

        document.getElementById("server_title_form").addEventListener("submit", function (event) {
            event.preventDefault();
            const form_data = new FormData(event.target);
            form_data.forEach((value, key) => {
                console.log(`${key}: ${value}`);
            })
            fetch("/change-server-title", {
                method: "POST",
                body: form_data,
            }).then(response => {
                if (response.ok) {
                    window.alert("Title Changed!")
                    window.location.href = "/";
                } else {
                    window.alert("Something went wrong.");
                }
            })
        })

        document.getElementById("delete_button").addEventListener("submit", function (event) {
            event.preventDefault();
            if (!window.confirm("Are you sure you want to delete the selected button?")) {
                return "cancelled";
            }
            const form_data = new FormData();
            form_data.append("delete", document.getElementById("delete_select").value);
            fetch("/delete_button", {
                method: "POST",
                body: form_data
            })
                .then(response => {
                    if (response.ok) {
                        window.alert("Button deleted")
                        window.location.href = "/";
                    } else {
                        window.alert("Something went wrong.");
                    }
                })
        })
        // Submit a POST request asking the server to add our custom button
        document.getElementById("create_button").addEventListener("submit", function (event) {
            event.preventDefault();
            const form_data = new FormData(event.target);
            form_data.forEach((value, key) => {
                console.log(`${key}: ${value}`);
            })
            fetch("/add_button", {
                method: "POST",
                body: form_data,
            })
                .then(response => {
                    if (response.ok) {
                        window.alert("Button added")
                        window.location.href = "/";
                    } else {
                        window.alert("Something went wrong.");
                    }
                })
        })
    </script>
</body>