<!DOCTYPE html>
<html>

<head>
    <title>Splash Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body style="background-color:#202020;">
    <h1 class="wrapper" style="color:rgb(176, 183, 201)">Server Title</h1>
    <form id="create_button" class="edit_form">
        <p><span>&nbsp;Add Button&nbsp;</span></p>
        <input type="text" id="buttonText" name="text" placeholder="Button Text" required>
        <input type="color" id="text_color" name="textcolor" value="#ffffff" required>
        <label for="buttonColor">Button Color:&nbsp;</label>
        <input type="color" id="buttonColor" name="color" value="#1ef0d4" required>
        <label for="imageUpload">Image:&nbsp;</label>
        <input type="file" id="imageUpload" name="image" accept="image/*" required>
        <input type="url" id="link" name="link" placeholder="Destination URL" required>
        <input type="submit" id="submitButton" value="Create Button">
    </form>
    <script>
        document.getElementById("create_button").addEventListener("submit", function (event) {
            event.preventDefault();
            const form_data = new FormData(event.target);
            form_data.forEach((value, key) => {
                console.log(`${key}: ${value}`);
            })
            fetch("/add_button", {
                method: "POST",
                body: form_data,
            })
                .then(response => {
                    if (response.ok) {
                        window.alert("Button added")
                        window.location.href = "/";
                    } else {
                        window.alert("Something went wrong.");
                    }
                })
        })
    </script>
</body>