<!DOCTYPE html>
<html>
<head>
    <title>Splash Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body style="background-color:#202020;">
    <h1 class="wrapper" style="color:rgb(176, 183, 201)">Server Title</h1>
    <div class="wrapper" id="button_container">
        
    </div>
    <script>
        function renderButton(data) {
            return `
            <a class="button" href="${data.link}">
            <div class="button" style="width:500px; height:150px; background-color:${data.backgroundColor};">
              <img src="${data.imageSrc}" alt="Button Image" width="150px" height="150px">
              <span>${data.text}</span>
            </div>
            </a>
            `;
        }
        const buttonContainer = document.getElementById("button_container");
        const buttons = <%- JSON.stringify(buttons) %>;
        for (const button of buttons) {
            const buttonHTML = renderButton(button);
            const buttonElement = document.createElement("div");
            buttonElement.innerHTML = buttonHTML;
            buttonContainer.appendChild(buttonElement);
        }
    </script>
</body>
